.sidebar-container {
  background-color: var(--dark-bg);
  padding: 16px 10px;
  min-width: 224px;
}
.child-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  top: 16px;
  position: sticky;
  margin: 0 12px;
}
.icon-text {
  padding: 8px 16px;
  opacity: 0.8;
  margin: 0;
  font-size: 14px;
}
.credits-bg {
  background-color: var(--dark-gray-bg);
  padding: 6px 12px;
  gap:6px;
  position: sticky;
  bottom: 16px;
}
