.transaction-heading {
  color: var(--black-text-clr);

  font-weight: 600;
  line-height: 28px;
  margin: 6px 0px;
}
.table-input {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 10px 16px;
}
.table-container {
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  padding: 12px 12px 24px 12px;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.sort-btn {
  color: var(--Black-30, #4d4d4d);
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
  background-color: var(--white-text-clr);
  padding: 6px 12px;
}
.order-heading {
  color: #4d4d4d;
}
.order-id {
  color: var(--primary-blue);
}
.order-row {
  height: 48px;
  padding: 14px 12px;
}
.table-heading {
  border-radius: 4px;
  padding: 10px 12px;
  background: var(--input-bg);
}
.primary-btn {
  background-color: var(--primary-blue);
  color: var(--white-text-clr);
  border-radius: 2px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 500;
}
.white-bg {
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
  background-color: var(--white-text-clr);
}
.ft-btn {
  display: flex;
  padding: 6px 12px 6px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.table-data-container {
  height: 9rem;
  overflow: auto;
}
