@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galano+Grotesque:wght@100;200&display=swap');



:root {
  --white-text-clr: #ffffff;
  --black-text-clr: #1a181e;
  --gray-text-clr: #4d4d4d;
  --input-clr:#808080;
  --primary-blue: #146eb4;

  --dark-gray-bg: #353c53;
  --input-bg: #f2f2f2;
  --dark-bg: #1e2640;
  
}

.common-flex {
  display: flex;
}
.common-col {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.four-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gap-xs {
  gap: 12px;
}
.gap-xxs{
  gap:16px
}
.gap-xxxs{
  gap:20px
}
.gap-xsm {
  gap: 24px;
}
.gap-sm {
  gap: 1.5rem;
}
.gap-med {
  gap: 2rem;
}
.a-start {
  align-items: flex-start;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.jst-sp-bet {
  justify-content: space-between;
}
.js-around {
  justify-content: space-around;
}
.js-evenly {
  justify-content: space-evenly;
}
.padding-sm {
  padding: 1rem;
}
.img-br-half {
  border-radius: 50%;
}
.layout-mr {
  margin: 0 2rem;
}
.mr-zero {
  margin: 0;
}
.mr-xxs{
  margin: 5px;
}
.mr-ssm {
  margin: 0.5rem;
}
.mr-sm-top {
  margin: 0 1rem;
}
.mr-sm-btm {
  margin: 1rem 0;
}
.mr-sm {
  margin: 1.2rem;
}
.mr-med {
  margin: 2rem;
}
.pd-xs{
  padding: 2px 0;
}
.pd-sm {
  padding: 20px;
}
.pd-med {
  padding: 1.2rem;
}
.op-sm {
  opacity: 0.8;
}
.fs-xxs{
  font-size: 12px;
}
.fs-xs {
  font-size: 14px;
}
.fs-xss{
  font-size: 16px;
}
.fs-sm {
  font-size:20px;

}
.fs-med {
  font-size: 32px;

}
.ft-wt-xs {
  font-weight: 400;
}
.ft-wt-sm {
  font-weight: 500;
}
.fs-bg {
  font-size: 1.5rem;
  font-weight: 500;
}
.fs-xbg {
  font-size: 1.5rem;
}
.fm-inter{
  font-family: 'Inter';
}
.fm-galano {
  font-family: 'Galano Grotesque', sans-serif;
}
.fm-cur {
  font-family: cursive;
}
.a-start {
  align-items: flex-start;
}
.gap-bg {
  gap: 2.5rem;
}
.text-left{
  text-align: left;
}
.width-full{
  width: 100%;
}
.crousel-img {
  width: 100%;
  height: 30rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.footer-container {
  background-color: var(--secondary-clr);
}
.social-icon:hover {
  cursor: pointer;
}

.border-gray {
  border: 1px solid var(--gray-clr);
}
.text-white {
  color: var(--white-text-clr);
}
.text-gray {
  color: var(--gray-text-clr);
}
.text-filter {
  color: #9ca3af;
  font-weight: 600;
  margin: 0 7px;
}
.font-sm {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}
